---
import { getCollection } from 'astro:content'
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'
import Base from '../layouts/base.astro'
import PageHero from '../components/pagehero.astro'
import image from '../assets/site/banner.jpg'

const frontmatter: CollectionEntry<'page'>['data'] = {
  title: 'Categories',
  description: 'Categories for articles',
  image: image
}

const categories = await getCollection('category')
// const partners = await getCollection('partner', ({ data }) => {
//   return data.draft !== true
// })

// const cats = Array.from(new Set(partners.flatMap((partner) => partner.data.categories)))
---

<Base frontmatter={frontmatter}>
  <header>
    <PageHero title={frontmatter.title!} description={frontmatter.description} {image} />
  </header>
  <main class='mt-8 bg-gray-100 dark:bg-gray-900'>
    <div class='mx-auto max-w-7xl px-4 lg:px-8 sm:px-6'>
      <div class='mx-auto max-w-2xl pb-72 lg:max-w-none lg:pb-24 sm:pb-32'>
        <div class='mt-6 lg:grid lg:grid-cols-3 lg:gap-x-6 space-y-12 lg:space-y-0'>
          {
            categories.map((category) => (
              <div class='group relative'>
                <div class='sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 relative mb-4 h-80 w-full overflow-hidden rounded-lg bg-blue-100 sm:h-64 dark:bg-blue-600 group-hover:opacity-75'>
                  <Image
                    src={category.data.image}
                    alt={category.data.description}
                    class='h-full w-full object-cover object-center'
                    loading='lazy'
                  />
                </div>
                <h3 class='inline-block rounded bg-blue-600 px-3 py-1 text-xs text-white font-medium tracking-tight uppercase hover:bg-pink-600'>
                  <a href={`${import.meta.env.BASE_URL}category/${category.slug}/`}>
                    <span class='absolute inset-0' />
                    {category.data.title}
                  </a>
                </h3>
                <p class='text-base text-gray-900 dark:text-gray-400'>
                  {category.data.description}
                </p>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </main>
</Base>
