---
import { Image } from 'astro:assets'
import partners from '../assets/backgrounds/restaurant.png'
import cuisine from '../assets/backgrounds/food.png'
import region from '../assets/backgrounds/region.png'

const columns = [
  {
    title: 'All Partners',
    description: 'All our partners',
    link: '/partner',
    image: partners
  },
  {
    title: 'Cuisines',
    description: 'Partners by Cuisine',
    link: '/cuisines',
    image: cuisine
  },
  {
    title: 'Regions',
    description: 'Partners by Region',
    link: '/regions',
    image: region
  }
]
---

<div class='bg-gray-100'>
  <div class='mx-auto max-w-7xl px-4 lg:px-8 sm:px-6'>
    <div class='mx-auto max-w-2xl py-16 lg:max-w-none lg:py-32 sm:py-24'>
      <h2 class='text-2xl text-gray-900 font-bold'>Explore</h2>

      <div class='mt-6 lg:grid lg:grid-cols-3 lg:gap-x-6 space-y-12 lg:space-y-0'>
        {
          columns.map((column) => (
            <div class='group relative'>
              <div class='relative h-80 w-full overflow-hidden rounded-lg bg-white lg:aspect-1 sm:aspect-2 sm:h-64 group-hover:opacity-75'>
                <Image
                  src={column.image}
                  alt={column.title}
                  class='h-full w-full object-cover object-center'
                />
              </div>
              <h3 class='mt-6 text-sm text-gray-500'>
                <a href={column.link}>
                  <span class='absolute inset-0' />
                  {column.title}
                </a>
              </h3>
              <p class='text-base text-gray-900 font-semibold'>{column.description}</p>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</div>
