---
import { Image } from 'astro:assets'
import categoryimg from '../assets/site/partnersbycategory.jpg'
import cuisineimg from '../assets/site/meetourpartners.jpg'
import countryimg from '../assets/site/partnersbycountry.jpg'
import memberimg from '../assets/site/HMGmembercard01(INTERNATIONAL).jpg'
import partnerimg from '../assets/site/HMGpartners01.jpg'

const callouts = [
  {
    name: 'Categories',
    description: 'Partners by categories',
    imageSrc: categoryimg,
    imageAlt: 'Categories',
    href: '/categories'
  },
  {
    name: 'Cuisines',
    description: 'Partners by Cuisine',
    imageSrc: cuisineimg,
    imageAlt: 'Cuisines',
    href: '/cuisines'
  },
  {
    name: 'Regions',
    description: 'Partners by Country',
    imageSrc: countryimg,
    imageAlt: 'Countries',
    href: '/regions'
  },
  {
    name: 'Membership',
    description: 'Join Us!',
    imageSrc: memberimg,
    imageAlt: 'Membership',
    href: '/membership'
  },
  {
    name: 'Partnership',
    description: 'Partner with Us!',
    imageSrc: partnerimg,
    imageAlt: 'Partnership',
    href: '/partnership'
  },
]
---

<div class='bg-blue-100 dark:bg-blue-900'>
  <div class='mx-auto max-w-7xl px-4 lg:px-8 sm:px-6'>
    <div class='mx-auto max-w-2xl py-16 lg:max-w-none lg:py-32 sm:py-24'>
      <h2 class='text-4xl text-blue-800 font-extrabold dark:text-blue-100'>Find Out More</h2>
      <div class='mt-6 lg:grid lg:grid-cols-3 lg:gap-x-6 space-y-12 lg:space-y-0'>
        {
          callouts.map((callout) => (
            <div class='group relative'>
              <div class='sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 relative h-80 w-full overflow-hidden rounded-lg bg-white sm:h-64 dark:bg-blue-600 group-hover:opacity-75'>
                <Image
                  src={callout.imageSrc}
                  alt={callout.imageAlt}
                  class='h-full w-full object-contain object-center'
                  loading='lazy'
                />
              </div>
              <h3 class='mt-6 text-2xl text-blue-500 dark:text-blue-300'>
                <a href={callout.href}>
                  <span class='absolute inset-0' />
                  {callout.name}
                </a>
              </h3>
              <p class='text-base text-gray-900 dark:text-gray-100'>{callout.description}</p>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</div>
