---
import type { CollectionEntry } from 'astro:content'
import { Image } from 'astro:assets'
import Categories from '../components/categories.astro'
import { DefaultImage } from '../config'

export interface Props {
  posts: CollectionEntry<'blog'>[]
}

const { posts } = Astro.props

const newestPost = posts[0]
const otherPosts = posts.slice(1, 5)
---

<div class='bg-white dark:bg-gray-900'>
  <div class='mx-auto max-w-7xl px-4 lg:px-8 sm:px-6'>
    <div class='mx-auto max-w-2xl py-8 lg:max-w-none lg:py-16 sm:py-12'>
      <div class='flex flex-row items-center'>
        <h2 class='text-2xl text-blue-800 font-extrabold md:text-4xl dark:text-blue-200'>
          Our Latest Articles
        </h2>
        <a
          href={import.meta.env.BASE_URL + 'blog'}
          class='ml-4 mt-2 inline-block rounded-md bg-blue-600 px-2 py-2 text-base text-white font-bold dark:bg-blue-300 hover:bg-pink-600 md:px-6 md:py-3 md:text-lg dark:text-black dark:hover:bg-pink-300'
        >
          All Articles
        </a>
        <a
          href={import.meta.env.BASE_URL + 'categories'}
          class='ml-4 mt-2 inline-block rounded-md bg-blue-100 px-2 py-2 text-base text-blue-800 font-bold dark:bg-blue-900 hover:bg-pink-200 md:px-6 md:py-3 md:text-lg dark:text-blue-100 dark:hover:bg-pink-900'
        >
          Categories
        </a>
        <a
          href={import.meta.env.BASE_URL + 'tags'}
          class='ml-4 mt-2 inline-block rounded-md bg-blue-100 px-2 py-2 text-base text-blue-800 font-bold dark:bg-blue-900 hover:bg-pink-200 md:px-6 md:py-3 md:text-lg dark:text-blue-100 dark:hover:bg-pink-900'
        >
          Tags
        </a>
      </div>
      <div class='mt-6 lg:grid lg:grid-cols-2 xl:grid-cols-3 lg:gap-x-6 space-y-12 lg:space-y-0'>
        <div class='relative mb-4 block rounded p-4 xl:col-span-2 lg:mb-0 lg:p-0'>
          <a href={import.meta.env.BASE_URL + 'blog/' + newestPost.slug}>
            <span class='sr-only'>{newestPost.data.title}</span>
            <Image
              src={newestPost.data.image || DefaultImage}
              alt={newestPost.data.title + ' featured image'}
              class='h-64 w-full rounded-md bg-blue-100 object-cover md:h-80 dark:bg-blue-800'
              loading='lazy'
            />
          </a>
          <div class='mt-4'>
            {newestPost.data.categories && <Categories categories={newestPost.data.categories} />}
          </div>
          <a href={import.meta.env.BASE_URL + 'blog/' + newestPost.slug}>
            <h1
              class='mt-2 text-4xl text-blue-600 font-bold leading-tight dark:text-blue-300 hover:text-pink-600 dark:hover:text-pink-300'
            >
              {newestPost.data.title}
            </h1>
          </a>
          {
            newestPost.data.pubDate && (
              <p class='mb-4 text-gray-600 dark:text-gray-400'>
                {newestPost.data.pubDate.toDateString()}
              </p>
            )
          }
          <p class='mb-4 text-gray-600 dark:text-gray-400'>
            {newestPost.data.description}
          </p>
          <a
            href={import.meta.env.BASE_URL + 'blog/' + newestPost.slug}
            class='mt-2 inline-block rounded-md bg-blue-600 px-6 py-3 text-white dark:bg-blue-300 hover:bg-pink-600 dark:text-black dark:hover:bg-pink-300'
          >
            Read more
            <span class='sr-only'>{newestPost.data.title}</span>
          </a>
        </div>
        <div class='w-full'>
          {
            otherPosts.map((post) => (
              <div class='mb-10 w-full rounded md:grid md:grid-cols-3'>
                <a href={new URL(import.meta.env.BASE_URL + 'blog/' + post.slug, Astro.url)}>
                  <Image
                    src={post.data.image || DefaultImage}
                    alt={post.data.title + ' featured image'}
                    class='block h-64 w-full rounded-md bg-blue-100 object-cover p-4 lg:block md:h-32 dark:bg-blue-800 md:p-0'
                    loading='lazy'
                  />
                </a>
                <div class='rounded bg-white px-4 md:col-span-2 dark:bg-gray-800'>
                  {post.data.categories && <Categories categories={post.data.categories} />}
                  <a href={import.meta.env.BASE_URL + 'blog/' + post.slug}>
                    <div class='text-xl text-gray-800 font-semibold md:mt-1 dark:text-gray-100'>
                      {post.data.title}
                    </div>
                  </a>
                  {post.data.pubDate && (
                    <p class='block text-sm text-gray-600 dark:text-gray-300'>
                      {post.data.pubDate.toDateString()}
                    </p>
                  )}
                  <p class='block text-sm text-gray-600 md:hidden dark:text-gray-300'>
                    {post.data.description}
                  </p>
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</div>
