---
import 'photoswipe/style.css'
import { Image } from 'astro:assets'

export interface Props {
  id: string
  images: ImageMetadata[]
}

const { id, images } = Astro.props

const imagetitles = images.map((image) => image.src.split('/').reverse()[0].split('.')[0])
---

<lightbox-inner data-id={id}>
  <div class="grid grid-cols-2 gap-4 md:grid-cols-3">
    {
      images.map((image, i) => (
        <div>
          <figure itemscope itemtype="http://schema.org/ImageObject">
            <a
              href={image.src}
              itemprop="contentUrl"
              data-pswp-width={image.width}
              data-pswp-height={image.height}
            >
              <Image
                src={image}
                alt={imagetitles[i]}
                format="webp"
                class="w-max-full h-auto rounded-lg"
              />
            </a>
          </figure>
        </div>
      ))
    }
  </div>
</lightbox-inner>
<script>
  import PhotoSwipeLightbox from 'photoswipe/lightbox'

  class LightboxInner extends HTMLElement {
    constructor() {
      super()

      const id = this.dataset.id

      const lightbox = new PhotoSwipeLightbox({
        mainClass: 'pswp--custom-icon-colors',
        gallerySelector: '#' + id,
        childSelector: 'a',
        pswpModule: () => import('photoswipe'),
        paddingFn: () => {
          return {
            top: 0,
            bottom: 30,
            left: 0,
            right: 0
          }
        }
      })

      lightbox.init()
    }
  }

  customElements.define('lightbox-inner', LightboxInner)
</script>
